/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.bigred {
  font-size: 20px;
  color: red;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  display: block;
  color: #363636
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1344px;
}

.myMenu {
  display: flex;
  max-height: 124px;
  margin-top: 50px;
  margin-bottom: 82px;
}

.topMenu {
  display: flex;
  width: 100%;
  margin-bottom: 3.06vw;
  flex-shrink: 1;
}

.rightMenu {
  width: 1073px;
}

.geo-icon {
  margin-right: 4px;
}

.topMenu-ul {
  display: flex;
  justify-content: space-between;
}

.topMenu-li {
  min-width: max-content;
  padding-right: 2.08vw;
  font-size: 14px;
}

.call {
  font-size: 16px;
  line-height: 16px;
  margin-left: 4.51vw;
  min-width: max-content;
}

.geo {
  font-size: 10px;
  line-height: 0.69vw;
  width: max-content;
  margin-right: 70px;
  font-weight: 500;
}

.geo-a {
  display: block;
  width: max-content;
}

.myLogo {
  padding-right: 20px;
  width: 204px;
  margin-right: 50px;
  margin-left: 40px;
}

.myLogo img {
  width: 204px;
  padding-top: 10px;
}

.bottomMenu {
  display: flex;
  position: relative;
}

.bottomMenu-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog {
  height: 40px;
  width: 171px;
  margin-bottom: 82px;
}

.catalog-btn {
  background: #D00029;
  border: 1px solid #D00029;
  border-radius: 25px;
  width: 171px;
  height: 40px;
  margin-right: 48px;
  color: #fff;
}

.submenu {
  box-shadow: 0px 4px 4px rgba(208, 0, 41, 0.25);
  border-radius: 15px;
  font-weight: 500;
  font-size: 20px;
  transform-origin: 0 0;
  transform: rotateX(90deg);
  transition: .3s linear;
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  position: absolute;
}

.submenu li {
  position: relative;
}

.submenu .submenu {
  position: absolute;
  top: 0;
  left: 100%;
  transition: .3s linear;
  background-color: #fff;
}

.bottomMenu-ul li:hover>.submenu {
  visibility: visible;
  opacity: 1;
  transform: rotateX(0deg);
}

.submenu-li {
  width: 330px;
  height: 68px;
  align-content: center;
  padding-left: 53px;
  padding-top: 30px;
}

.submenu-li img {
  padding-left: 120px;
}

.submenu-brands {
  width: 550px;
  height: 201px;
  padding: 30px;
  padding-left: 80px;
  margin: 0;
}

.submenu-brands-li {
  display: inline-block;
  height: 50px;
  padding-right: 100px;
  width: 130px;
  font-size: 20px;
  line-height: 100%;
}

.line-catalog {
  height: 1px;
  background-color: black;
  z-index: 20;
}

.myInput {
  border: 1px solid #D00029;
  border-radius: 25px;
  width: 659px;
  height: 40px;
  padding-left: 16px;
  font-size: 14px;
  margin-left: 50px;
  position: absolute;
}

.serch-btn {
  background-color: #D00029;
  height: 40px;
  width: 119px;
  font-size: 14px;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  z-index: -1;
  margin-left: 680px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fcfcfc7e;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}

.popup-thanks {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fcfcfc7e;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}

.popup-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup-thanks:target {
  opacity: 1;
  visibility: visible;
}

.popup-body {
  min-height: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  display: flex;
}

.popup-body-thanks {
  min-height: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  display: flex;
}

.popup-content {
  background-color: #fff;
  color: #000000;
  width: 766px;
  height: 463px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(208, 0, 41, 0.25);
  border-radius: 15px;
  position: relative;
}

.popup-content-thanks {
  background-color: #fff;
  color: #000000;
  width: 395px;
  height: 162px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(208, 0, 41, 0.25);
  border-radius: 15px;
  position: relative;
}

.popup-close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.popup-title {
  font-weight: 500;
  font-size: 18px;
  padding: 0 3vw;
  margin: 0 auto;
  margin-top: 3.33vw;
  margin-bottom: 2.22vw;
}

.popup-title-thanks {
  font-weight: 500;
  font-size: 18px;
  padding: 0 3.33vw;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 8px;
}

.popup-text {
  font-size: 12px;
}

.popup-form {
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  width: 660px;
  height: 3.33vw;
  margin: 0 auto;
  margin-top: 1.11vw;
  padding: 1.11vw;
  color: #D00029;
}

.popup-btn {
  width: 227px;
  height: 52px;
  background: #D00029;
  border-radius: 30px;
  margin: 30px 491px 20px 50px;
  font-style: normal;
  font-size: 20px;
}

.popup-btn a {
  display: block;
  color: #fff;
}

.popup-btn-thanks {
  width: 129px;
  height: 34px;
  background: #D00029;
  border-radius: 25px;
  margin-top: 2.22vw;
  font-style: normal;
  font-size: 0.97vw;
}

.popup-btn-thanks a {
  display: block;
  color: #fff;
}

a {
  text-decoration: none;
  display: block;
  color: #363636
}

ul {
  list-style-type: none;
  padding: 0;
}

ol {
  list-style-type: none;
  padding: 0;
}

/*Хлебные крошки*/

.delimiter {
  color: #D00029;
  font-size: 12px;
  padding: 0px 4px;
  line-height: 12px;

}

.breadcrumb {
  display: flex;
}

.breadcrumb-item {
  font-size: 12px;
  line-height: 12px;
}

.breadcrumb-item.active {
  font-size: 12px;
  line-height: 12px;
  padding: 4px;
  padding: 0;
}

/*карточки*/
.hero {
  margin-top: 74px;
  margin-bottom: 123px;
  display: flex;
}

/*Левая карточка со ссылками*/
.card-menu {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 0px;
  padding: 1vw 1.5vw;
  height: min-content;
  width: 14%;
}

.card-ul li {
  padding: 0;
  font-weight: 400;
  font-size: 0.95vw;
  line-height: 1.1vw;
  margin-bottom: 0.5vw;
}

.card-title {
  padding-bottom: 1.1vw;
  font-size: 1.1vw;
  font-weight: 600;
}

/*Картинка*/
.img-area {
  width: 30%;
  z-index: -1;
}

.card-img {
  display: flex;
  justify-content: end;
  max-height: 20vw;
  padding-right: 2.22vw;
}

/*Карточка со ссылками на документацию*/
.card-text {
  width: 40%;
}

.card-text h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 2.22vw;
  margin-bottom: 7px;
}

.card-text p {
  margin-bottom: 2.22vw;
  font-style: normal;
  font-weight: 400;
  font-size: 0.97vw;
  line-height: 18px;
}

.card-text ul {
  margin: 0;
  list-style-type: disc;
  padding-left: 15px;
}

.card-text li {
  font-weight: 400;
  font-size: 0.97vw;
}

/*Ссылки на техническую документацию*/
.technic-area {
  display: flex;
  justify-content: end;
  max-height: 170px;
  width: min-content;
  padding: 0;
  z-index: 1;
}

.card-ul-technic {
  list-style-type: none;
  padding: 0;
}

.card-link {
  padding-bottom: 8px;
  font-size: 0.97vw;
  line-height: 18px;
  color: #EA655A;
  cursor: pointer;
}

/*Табы*/

.tab-box {
  position: relative;
}

.tab-btn {
  background: none;
  border: none;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
  margin-right: 3.33vw;
}

.tab-btn.active {
  color: #363636;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.content-box {
  margin-top: 3.33vw;
  margin-bottom: 120px;
}

.content {
  display: none;
}

.content ul {
  list-style-type: disc;
  padding: 0;
  padding-left: 15px;
  margin-top: 1.11vw;
  margin-bottom: 2.22vw;
}

.content li {
  font-weight: 400;
  font-size: 1.11vw;
  line-height: 18px;
  padding-top: 10px;
}

.content p {
  padding-bottom: 8px;
}

.content.p1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.ol-number {
  list-style-type: decimal;
  margin-left: 5px;
  margin-bottom: 24px;
}

.li-number {
  color: #363636;
}

.p-strong {
  margin-bottom: 24px;
}

.content.active {
  display: block;
}

.line {
  position: absolute;
  top: 24px;
  left: 0;
  width: 159px;
  height: 2px;
  background-color: #D00029;
  border-radius: 0, 5px;
}

.header-li {
  list-style: disc;
  color: #D00029;
}

.header-li span {
  color: #363636;
}

/*Дополнительная продукция*/
.row-add {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

.a-add {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.card-add {
  padding: 8px;
  border: 1px solid #F4F4F4;
  border-radius: 20px;
  margin-bottom: 120px;
  width: 15%;
  height: min-content;
}

.card-add:hover {
  border-color: #D00029;
}

.card-add:not(:last-child) {
  margin-right: 18px;
}

.card-text-add {
  padding: 0;
  width: 100%;
}

.card-img-top {
  padding-top: 8px;
  padding-left: 8px;
  height: 100%;
  width: 80%;
}


/*Секция Поможем сделать выбор*/

.help {
  display: flex;
  margin-top: 172px;
  margin-bottom: 150px;
}

.help img {
  max-width: 660px;
}

.help-text {
  margin-left: 24px;
}

.help-text-h {
  font-weight: 600;
  font-size: 48px;
  line-height: 117%;
  max-width: 467px;
  margin-bottom: 16px;
}

.help-text-p {
  max-width: 270px;
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
}

.help-text form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 16px;
}

.help-text input {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
  border: 0.5px solid rgba(53, 89, 54, 0.5);
  border-radius: 15px;
  padding: 16px;
  padding-right: 25.21vw;
  max-width: 660px;
}

.help-btn {
  padding: 16px 56px;
  background: #D00029;
  border-radius: 30px;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: 48px;
}

/*Footer*/

.line-footer {
  height: 1px;
  background-color: #D00029;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 55px;
}

.footer-menu {
  display: flex;
}

.footer-menu ul {
  margin: 0;
}

.footer-menu-left,
.footer-menu-center,
.footer-menu-right {
  width: 35%;
}

.footer-h4 {
  color: #363636;
  font-weight: 600;
  font-size: 1.5vw;
  margin-bottom: 2vw;
}

.footer-li {
  color: #363636;
  font-size: 1.2vw;
  margin-bottom: 1.1vw;
  line-height: 2vw;
}