.hero {
  display: flex;
  max-height: 437px;
  margin-top: 96px;
}

.hero-text {
  max-width: 600px;
  margin-right: 78px;
}

.hero h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 125%;
  max-width: 604px;
}

.hero-text ul {
  margin-top: 40px;
  margin-left: 14px;
  display: flex;
  flex-wrap: wrap;
}

.hero-text li {
  list-style: disc;
  padding: 4px;
  margin-right: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.hero-text li::marker {
  color: #D00029;
}

.hero button {
  background: #D00029;
  border: 1px solid #D00029;
  border-radius: 30px;
  color: #fff;
  padding: 16px 32px;
  margin-top: 80px;
  font-size: 18px;
}

.img-b {
  position: absolute;
  max-width: 216px;
  margin-left: 120px;
  z-index: -1;
}

.img-t {
  position: relative;
  max-width: 546px;
  margin-top: 217px;
  z-index: 0;
}

.advantages {
  margin-top: 124px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 140px;
  margin: 0 auto;
  width: 1344px;
}

.advantages div {
  padding-bottom: 10px;
  width: 289px;
  height: 206px;
}

.advantage-card1 {
  position: relative;
  background-image: url(img/advantage-card1.svg);
}

.advantage-card1::after {
  content: "";
  background-image: url(img/advantage-card1-hover.svg);
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.advantage-card1:hover::after {
  opacity: 1;
  transition: opacity 0.5s;
}

.advantage-card2 {
  position: relative;
  background-image: url(img/advantage-card2.svg);
}

.advantage-card2::after {
  content: "";
  background-image: url(img/advantage-card2-hover.svg);
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.advantage-card2:hover::after {
  opacity: 1;
  transition: opacity 0.5s;
}

.advantage-card3 {
  position: relative;
  background-image: url(img/advantage-card3.svg);
}

.advantage-card3::after {
  content: "";
  background-image: url(img/advantage-card3-hover.svg);
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.advantage-card3:hover::after {
  opacity: 1;
  transition: opacity 0.5s;
}

.advantage-card4 {
  position: relative;
  background-image: url(img/advantage-card4.svg);
}

.advantage-card4::after {
  content: "";
  background-image: url(img/advantage-card4-hover.svg);
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.advantage-card4:hover::after {
  opacity: 1;
  transition: opacity 0.5s;
}

.actions {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.h1-actions {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 70px;
}

.products-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-min {
  max-width: 204px;
  height: min-content;
  border: 1px solid #F4F4F4;
  border-radius: 20px;
  padding: 8px 8px 24px 8px;
  margin-bottom: 80px;
}

.product-min:hover {
  border: 1px solid #D00029;
margin-bottom: 26px;
}

.product-min img {
  max-width: 130px;
}

.actions-deadlines {
  border: 0.5px solid #D00029;
  border-radius: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  padding: 4px 16px;
  margin: 28px 0px 12px 0px;
  max-width: max-content;
}

.product-min-card {
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  margin-top: 24px;
}

.button-product {
  background: #D00029;
  border-radius: 25px;
  align-items: center;
  padding: 10px 56px;
  display: none;
  margin-top: 15px;
  }

.button-product a {
  color: #fff;
}

.product-min:hover .button-product {
  display: block;
}

.button-more {
  display: flex;
  background: #D00029;
  border-radius: 25px;
  padding: 10px 16px;
  max-width: 125px;
  margin: 0 auto;

}

.button-more a {
  color: #fff;
}



/*Бегущая строка*/


.ticker {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.ticker a {
  display: inline-block;
}

.items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 20px;
}

.items-wrap:before,
.items-wrap:after {
  content: "";
  height: 100%;
  top: 0;
  width: 10%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.items-wrap:before {
  left: 0;
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%);
}

.items-wrap:after {
  right: 0;
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%);
}

.items {
  flex-shrink: 0;
  display: flex;
  gap: 30px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}

.item {
  flex: 0 0 auto;
  counter-increment: item;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  transition: all 0.1s ease-in-out;
}

.item:hover {
  transform: scale(1.1);
}

.item img {
  max-height: 50px;
  filter: grayscale(100%);
}

.item img:hover {
  filter: grayscale(0%);

}

.marquee {
  animation: scroll 20s linear infinite;
}

.items-wrap:hover .marquee {
  animation-play-state: paused;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.objects {
  margin-top: 50px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
}

.objects-h1 {
  color: #363636;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 64px;
  margin-top: 150px;
}


.objects-photo {
  display: flex;
  gap: 24px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 48px;
}



/*     Аккордеон          */

.FAQ {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  margin-bottom: 158px;
}

.accordion-link {
  font-size: 1.6rem;
  color: #363636;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.accordion-link h3 {
  font-weight: 500;
  font-size: 24px;
}

.accordion-link i {
  color: #D00029;
  padding: .5rem;
}

.accordion-link ul {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  margin-left: 25px;
}

.accordion-link li {
  font-size: 10px;
  color: #363636;
  padding: 0 0 1px 5px;
}

.accordion-link div {
  display: flex;
}

.accordion-link .ion-md-arrow-down {
  display: none;
  color: #D00029;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  transition: max-height 650ms;
}

.answer p {
  color: #363636;
  font-size: 18px;
  line-height: 22px;
  padding: 2rem;
}

.accordion-item:target .answer {
  max-height: 20rem;
}

.accordion-item:target .accordion-link .ion-md-arrow-forward {
  display: none;
}

.accordion-item:target .accordion-link .ion-md-arrow-down {
  display: block;
}